$base-color: #88abff;
$accent-color: #575757;
$logo-red: #db3236;
$logo-yellow: #ffc107;
$logo-green: #3cba54;
$link-color: #1a0dab;
$link-visited-color: #609;
$link-outline-color: #000;
$font-stack: "Poppins", sans-serif;

%flex {
  display: flex;
  align-items: center;
}

@mixin flexColumn {
  @extend %flex;
  flex-direction: column;
  justify-content: flex-start;
}

@mixin flexCenter {
  @extend %flex;
  justify-content: center;
}

@mixin mq($size) {
  @media only screen and (min-width: $size) {
    @content;
  }
}

* {
  &,
  &::before,
  &::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
  }
}

html,
body {
  // background-color: $background-color;
  // color: $font-color;
  // width: 100%;
  // min-height: 100vh;
  font-family: $font-stack;
  // font-size: 16px;
}

body {
  background-color: $base-color;
}

main {
  @include flexColumn;
  min-height: calc(100vh - 60px);
}

img {
  display: block;
  height: 100%;
  width: 100%;
}
