.droparea {
  margin: 1rem auto;
  @include flexCenter();
  @include flexColumn();
  width: 384px;
  max-width: 99%;
  border: 2px dashed grey;
  border-radius: 15px;

  i {
    font-size: 3rem;
    padding-top: 1rem;
  }

  p {
    &:first-of-type {
      font-weight: bolder;
      font-size: 0.8rem;
    }
  }

  @include mq(480px) {
    p {
      &:first-of-type {
        font-size: 1rem;
      }
    }
  }
}
