.buttons {
  margin-bottom: 2rem;
  display: flex;
  gap: 0.5rem;

  .btn {
    --hue: 100;
    --saturation: 100%;

    padding: 0.5rem 1rem;
    border: none;
    background-color: hsl(var(--hue), var(--saturation), 50%);
    margin-left: 1rem;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;

    &:first-child {
      margin-left: 0;
    }

    &.record-button {
      --hue: 0;
      --saturation: 0%;

      &.active {
        --saturation: 100%;
      }
    }

    &:hover,
    &:focus {
      background-color: hsl(var(--hue), var(--saturation), 30%);
    }
  }
}
