*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --nav-width: 200px;
  --black: #222222;
  --transparent: rgba(255, 255, 255, 0.05);
  --white: #eeeeee;
  --accent: #009579;
  margin: 0 0 0 var(--nav-width);
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--nav-width);
  height: 100vh;
  background-color: var(--black);
}

.nav__link {
  display: block;
  padding: 12px 18px;
  text-decoration: none;
  color: var(--white);
  font-weight: 500;
}

.nav__link:hover {
  background-color: var(--transparent);
}

#app {
  margin: 2em;
  line-height: 1.5;
  font-weight: 500;
}

a {
  color: var(--accent);
}
